<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Questions & Answers | {{ title }}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
    </head>

    <body>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Questions & Answers</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                        {% if logged_in_user %}
                            {% if logged_in_user.role == "Expert" %}
                                <li><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
                            {% elif logged_in_user.role == "Admin" %}
                                <li><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
                                <li><a href="{{ url_for('users') }}">User Setup</a></li>
                            {% elif logged_in_user.role == "Basic" %}
                                <li><a href="{{ url_for('ask') }}">Ask Question</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div class="container theme-showcase" role="main">

            {% if info_message %}
                <div class="alert alert-dismissable alert-info">
                    <p>{{ info_message }}</p>
                </div>
            {% endif %}

            {% block content %}
            {% endblock %}

        </div>

    </body>
</html>
