{% extends 'base.html' %}


{% block content %}

        <div class="page-header">
            <h1>Users</h1>
            <h6>Click to promote to expert</h6>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    {% for user in all_users %}
                        {% if user.role.value not in ["Expert", "Admin"] %}
                            <a href="{{ url_for('promote', user_id=user.id) }}" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    {{ user.name }}
                                    <i> ({{ user.role.value }})</i>
                                </h4>
                            </a>
                        {% else %}
                            <a class="list-group-item active">
                                <h4 class="list-group-item-heading">
                                    {{ user.name }}
                                    <i> ({{ user.role.value }})</i>
                                </h4>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div><!-- /.col-lg-12 -->
        </div>

{% endblock %}
